*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
.navbar{
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
.navlogo{
    font-size: 5em;
}
.row{
    width: 100%;
    height: 100vh;
}

.navbar a:hover{
    text-decoration: none;

}
.banner {
    height: 100vh;
    background: linear-gradient(  rgba(38,43,219, 0.45), rgba(38,43,219, 0.45)), url('/Codeigniter/img/woman1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: auto;
}
nav .nav-item a{
    text-decoration: none;
    font-family:  'Poppins',sans-serif;
    font-size: 0.8em;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 10px;
}
nav .nav-item a:hover {
    border-bottom: 2px solid rgb(70, 13, 224);
}
.nav-active {
    border-bottom: 2px solid rgb(70, 13, 224);
}
.nav .btn{
    background-color: white;
    color: black;
    border-radius: 18px;
}
.nav .btn a:hover{
    text-decoration: none;
}
.banner .logo{
    font-size: 1.5em;
}
.main{
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}
.main .text {
    margin-left: 25%;
}
.main .heading{
    text-transform: capitalize;
    font-size: 2em;
    color:#fff;
    font-weight: 500;
    font-style: bold;
}
.main .paragraph{
    color: #fff;
    font-weight: lighter;
    font-weight: 100;
}
.main .btn{
    background-color: white;
    color: black;
    height: 12%;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px;
}
.main .ex{
    /* margin: 5%; */
    text-transform: capitalize;
    
    color: #fff;
}
.image-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    font-size: 0;
     margin-top: 20px;
    flex-basis: 1 1 1;
    justify-content: center;
    flex-wrap: nowrap;
    /* align-items: center; */
    }
.img2{
    margin-top: -40px;
    margin-left: -90px;
    margin-right: -90px;
}
.about{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.about .heading{
    width: 50%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    text-transform: capitalize;
}
.about .para{
    text-align: center;
    color: #6B6969;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.about-us{
    display: inline-flex;
    width: 80%;
}
.about-us .one{
    padding:40px;
    text-align: center;
}
.about .one img{
    margin: auto;
}
.about-us .one h1{
    font-size: 1.5em;
    text-align: center;
    color: #000000;
    font-weight: lighter;
    font-weight: 700;
    text-transform: capitalize;
}
.about-us .one p{
    font-size: 1em;
    text-align: center;
    color: #6B6969;
    font-weight: lighter;
    font-size: medium;
    font-weight: 100;
}
.radius{
    display: inline-flex;
    
}
 .radius .r{  
     position: absolute;
     bottom: 0;
     left: 0;
    background-color:blue;
    width: 125px;
    height: 125px;
 }

